# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# POSTGRES container username
POSTGRES_USER=XXXXXXXX

# POSTGRES container password
POSTGRES_PASSWORD=XXXXXXXX

# POSTGRES exposed port (same as docker-compose file)
POSTGRES_PORT=XXXXXXXX

# POSTGRES nest db name
POSTGRES_NAME=XXXXXXXX

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_NAME}?schema=public"

# JSON web tocken authentification secret
JWT_SECRET=XXXXXXXXX